body{
    height:100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: grey;
}

h1{
    font-family: 'Karla', sans-serif;
    color:white;

}

button{
    padding:2vh 4vw;
    margin: 4vh 2vw;
    background-color: white;
    border:none;
    border-radius: 5px;
    font-family: 'Karla', sans-serif;
    font-weight: bold;
}

button:hover{
    background-color: palegoldenrod;
}

#container{
    display: flex;
    flex-wrap: wrap;

    height:500px;
    width:500px;

    background-color: white;
}

.blue{
    background-color: cadetblue;
}

.white{
    background-color: white;
}
